<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".build/phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <php>
        <env name="AZURE_STORAGE_CONNECTION_STRING" value="UseDevelopmentStorage=true"/>
    </php>

    <testsuites>
        <testsuite name="core">
            <directory suffix="Test.php">tests/Architecture</directory>
            <directory suffix="Test.php">tests/Release</directory>
            <directory suffix="Test.php">tests/Identity/Unit</directory>
            <directory suffix="Test.php">tests/Identity/Integration</directory>
            <directory suffix="Test.php">tests/Storage/Blob/Unit</directory>
            <directory suffix="Test.php">tests/Storage/Blob/Functional</directory>
            <directory suffix="Test.php">tests/Storage/Blob/Integration</directory>
            <directory suffix="Test.php">tests/Storage/BlobFlysystem/Integration</directory>
            <directory suffix="Test.php">tests/Storage/BlobFlysystem/Unit</directory>
            <directory suffix="Test.php">tests/Storage/BlobFlysystemBundle/Unit</directory>
            <directory suffix="Test.php">tests/Storage/Common/Unit</directory>
            <directory suffix="Test.php">tests/Storage/File/Share/Unit</directory>
            <directory suffix="Test.php">tests/Storage/File/Share/Integration</directory>
            <directory suffix="Test.php">tests/Storage/Queue/Unit</directory>
            <directory suffix="Test.php">tests/Storage/Queue/Functional</directory>
            <directory suffix="Test.php">tests/Storage/Queue/Integration</directory>
        </testsuite>
        <testsuite name="laravel">
            <directory suffix="Test.php">tests/Storage/BlobLaravel/Unit</directory>
            <directory suffix="Test.php">tests/Storage/BlobLaravel/Integration</directory>
            <directory suffix="Test.php">tests/Storage/QueueLaravel/Unit</directory>
            <directory suffix="Test.php">tests/Storage/QueueLaravel/Integration</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <groups>
        <exclude>
            <group>slow</group>
        </exclude>
    </groups>
</phpunit>
